@*@model IEnumerable<koukahyosystem.Models.OneOnOneKakuninHyou>*@
@model koukahyosystem.Models.OneOnOneKakuninHyou
@{
    ViewBag.Title = "OneOnOneKakuninHyou";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .data_tbl thead, th {
            border: solid 1px #cccccc;
            text-align: center;
        }

        .data_tbl tobody, tr, td {
            border: solid 1px #cccccc;
            /*text-align: left;*/
        }
    </style>
    <script type="text/javascript">
        function SelectedIndexChanged() {
            $('#Btn_display').click();
        }
    </script>
</head>
<body>
    @if (Session["isAuthenticated"] != null)
    {
        <div id='div_main' class="panel panel-info" style="overflow:auto">
            @using (Html.BeginForm("OneOnOneKakuninHyou", "OneOnOneKakuninHyou", FormMethod.Post))
            {
                <div class="panel-heading" style="background-color: rgb(34, 148, 172); width:100%">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 " align="center">
                                <h4 style="color:white ; display: inline-block;">1on1確認表</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="container" class="row" style="margin: 10px;">
                    <div style="margin-top:5px" class="text-center" Align="center">
                        <input type="submit" id="Btn_display" value="display" name="year_btn" class="button" style="text-align:center; width:60px; height:35px;margin-left:50px ;margin-right:10px ;visibility:hidden;position:absolute" />
                        @Html.Label("年度", new { @class = "lbl_year" })
                        <button id="preBtn" name="year_btn" value="<" style="width:29px;height:29px;border:0.5px solid;border-radius:4px;"><</button>
                        @Html.DropDownListFor(m => m.cur_year, Model.YearList, new { @id = "year", style = "width:70px;Height:22px;margin-bottom:4px;", onchange = "SelectedIndexChanged()", autofocus = "autofocus" })
                        <button id="nextBtn" name="year_btn" value=">" style="width:29px;height:29px;border:0.5px solid;border-radius:4px;">></button>
                    </div>
                    <div class="mycontent" style="margin-top:10px;overflow:auto;">
                        <table class="data_tbl chyouka" id="DataTable" cellpadding="7" align="center">
                            @if (Model.OneonOneList.Count > 0)
                            {
                                var name = "";
                                <thead>
                                    <tr style="background-color:rgb(189, 233, 242)">
                                        <th>評価者</th>
                                        <th>面談者</th>
                                        <th>回数</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.OneonOneList.Count; i++)
                                    {
                                    <tr>
                                        @if (Model.OneonOneList[i].cMenName != name)
                                        {
                                            <td rowspan="@Model.OneonOneList[i].rowC">
                                                @Model.OneonOneList[i].cMenName
                                            </td>
                                            <td>
                                                @Model.OneonOneList[i].cShainName
                                            </td>
                                            <td style="text-align:right;">
                                                @Model.OneonOneList[i].cCount
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Model.OneonOneList[i].cShainName
                                            </td>
                                            <td style="text-align:right;">
                                                @Model.OneonOneList[i].cCount
                                            </td>
                                        }
                                    </tr>
                                        name = @Model.OneonOneList[i].cMenName;
                                    }
                                </tbody>
                            }

                        </table>
                    </div>
                </div>
            }
        </div>
    }
</body>
</html>